<!DOCTYPE html>
<html>
<head>
   <title><%= title %></title>
   <link rel='stylesheet' href='/stylesheets/style.css'/>
   <script src="/javascripts/jquery-3.3.1.min.js"></script>

</head>
<body>

 <h1><%= title %></h1>

 <a href="/">메인</a>
 <a href="/admin/addItem">새로운 제품 추가</a>
 <br />
 <br />

 <table border="1">
   <tr>
     <td>번호</td>
     <td>제품명</td>
     <td>가격</td>
     <td>재고</td>
     <td>판매량</td>
     <td>조회수</td>
   </tr>

<% for(var i=0; i<rows.length; i++) { %>
<%  var oneItem = rows[i];  %>
     <tr>
       <td><%=oneItem.item_idx%></td>
       <td><a href="/admin/read/<%=oneItem.item_idx%>"><%=oneItem.item_name%></a></td>
       <td><%=oneItem.item_price%></td>
       <td><%=oneItem.item_stock%></td>
       <td><%=oneItem.item_accum_sell%></td>
       <td><%=oneItem.item_hit%></td>
     </tr>
<% } %>
</table>

</body>
</html>
