<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <form action="/admin/update" method="post" onsubmit="return onItemSubmit()" enctype="multipart/form-data">
    	<table boreder="1">
        <input type="hidden" name="item_idx" value="<%=row.item_idx%>"/>
    		<tr>
    			<td>제품명</td>
    			<td><input type="text" name="item_name" id="item_name" required/></td>
    		</tr>
    		<tr>
    			<td>제품가격</td>
    			<td><input type="text" name="item_price" id="item_price" required/></td>
    		</tr>
    		<tr>
    			<td>제품 재고량</td>
          <td><input type="text" name="item_stock" id="item_stock" required/></td>
    		</tr>
    		<tr>
    			<td>제품 브랜드</td>
          <td><input type="text" name="item_brand" id="item_brand"></td>
    		</tr>
    		<tr>
    			<td>제품 설명</td>
          <td><textarea name="item_content" id="item_content" cols="30" rows="10" required></textarea></td>
    		</tr>
        <tr>
    			<td>제품 카테고리</td>
          <td><input type="text" name="item_category" id="item_category" required/></td>
    		</tr>
        <tr>
    			<td>제품 사진 업로드</td>
          <td><input type="file" name="imgFile"></td>
    		</tr>
    		<tr>
    			<td colspan="2">
    				<button type="submit">수정하기</button>
    			</td>
    		</tr>
    	</table>
    </form>



  <br />

  <td>**제품을 삭제하려면 아래에 칸에 관리자 ID와 비밀번호를 입력하고 '삭제하기'를 눌려주세요</td>
  <form action="/admin/delete" method="post" onsubmit="return onDeleteSubmit()">
    <table border="1">
      <input type="hidden" name="item_idx" value="<%=row.item_idx%>"/>
      <tr>
          <td>아이디</td>
          <td><input type="text" name="user_id" id="user_id" required/></td>
        </tr>
      <tr>
        <td>패스워드</td>
        <td><input type="password" name="user_pw" id="user_pw" required/></td>
      </tr>
      <tr>
        <td colspan="2">
          <button type="submit">삭제하기</button>
        </td>
      </tr>
    </table>
  </form>

    <script>
    	function onItemSubmit() {
    		if ( $("#item_name").val().trim() == "" ) {
    			var message = "제품명을 입력해 주세요.";
    			$("#item_name").val("");
    			$("#item_name").focus();
    			alert(message);
    			return false;
    		}
    		if ( $("#item_price").val().trim() == "" ) {
    			var message = "제품 가격을 입력해 주세요.";
    			$("#item_price").val("");
    			$("#item_price").focus();
    			alert(message);
    			return false;
    		}
    		if ( $("#item_stock").val().trim() == "" ) {
    			var message = "현재 제품의 재고량을 입력해 주세요.";
          $("#item_stock").val("");
          $("#item_stock").focus();
          alert(message);
          return false;
    		}
        if ( $("#item_content").val().trim() == "" ) {
    			var message = "제품의 설명을 입력해 주세요.";
          $("#item_content").val("");
          $("#item_content").focus();
          alert(message);
          return false;
    		}
        if ( $("#item_category").val().trim() == "" ) {
    			var message = "제품의 설명을 입력해 주세요.";
          $("#item_category").val("");
          $("#item_category").focus();
          alert(message);
          return false;
    		}
    	}

      function onDeleteSubmit() {
      if ( $("#user_id").val().trim() == "" ) {
        var message = "관리자의 ID를 입력해 주세요.";
        $("#user_id").val("");
        $("#user_id").focus();
        alert(message);
        return false;
      }
      if ( $("#user_pw").val().trim() == "" ) {
          var message = "관리자의 비밀번호를 입력해주세요.";
          $("#user_pw").val("");
          $("#user_pw").focus();
          alert(message);
          return false;
        }
      }
      </script>


  </body>
</html>
